body
{
    background-image:url(https://i.pinimg.com/originals/2e/94/73/2e94735284f7d0f2cc1624b297d31ffe.jpg);
    background-repeat: none;
    background-size: cover;

}
button
{
    font-size:28px;
    margin-left:430px;
    margin-top:290px;
}