body
{
    background-image: url(https://4.bp.blogspot.com/-oIL0IJX3VLU/WkxHG3m8GII/AAAAAAAAAN4/dz2bL8sUozM02PaAWulZu6AAhY9um06VgCLcBGAs/s1600/tokyoghoulseason3-234960-1280x0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
p
{
    color: black;
    font-family:courier;
    margin-left:1000px;
    margin-top:500px;
}
ul
{
    margin-left:1000px;
}